@import "tailwindcss";

:root {
  --primary: #9147ff;
  --primary-dark: #772ce8;
  --secondary: #f0f0ff;
  --dark: #18181b;
  --gray: #1f1f23;
  --light-gray: #efeff1;
  --text: #fff;
  --font-sans: "Geist Sans", sans-serif;
  --font-mono: "Courier Prime", monospace;
}

